.yatriContainer {
  font-family: var(--font-family);
  margin: 0 auto;
  padding: var(--padding);
}

.featureBoxes {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--margin-bottom);
}

.mainHeading {
  text-align: center;
  color: var(--subtext-color);
  font-size: var(--font-size-medium);
  margin-bottom: var(--padding);
}

.description {
  text-align: center;
  color: var(--text-color);
  font-size: var(--font-size-medium);
  line-height: 1.4;
}

.featureBox {
  flex: 1;
  text-align: center;
  padding: var(--padding);
}

.image {
  color: var(--highlight-color);
  margin-bottom: var(--padding-small);
  width: 100px;
  height: 100px;
}

.title {
  color: var(--highlight-color);
  font-size: var(--font-size-medium);
  margin-bottom: var(--padding-small);
}

@media (max-width: 768px) {
  .featureBoxes {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .yatriContainer {
    padding: var(--padding-small);
  }

  .mainHeading {
    font-size: var(--font-size-small);
    margin-bottom: var(--padding-small);
  }

  .description {
    font-size: var(--font-size-xsmall);
    line-height: 1.2;
  }

  .featureBox {
    padding: var(--padding-small);
  }

  .image {
    width: 20px;
    height: 20px;
  }

  .title {
    font-size: var(--font-size-xsmall);
    font-weight: 500;
  }

  .description {
    font-size: var(--font-size-xsmall);
    line-height: 1.2;
  }
}
